#top-nav-bar {
  position: sticky;
  background: #fff;
  top: 0;
  height: 60px;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: -5px 4px 20px 0 rgba(18, 18, 18, 0.2);
  z-index: 5;

  .top-bar-right-item {
    .notification-bell-icon {
      margin-top: 0px;
      svg {
        width: 27px;
        height: 27px;
      }
    }
    .user-setting-option {
      margin-left: 20px;
      cursor: pointer;
    }
  }
}

.notice-item {
  padding: 8px;
  padding-right: 15px;
  p {
    font-size: 14px;
  }
}
